@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
nav {
    direction: rtl;
    font-family: 'Open Sans Hebrew', serif;
    background-color: white;
}
.nav-container{
    z-index: 100;
    width:99.6%;
    right:0;
    display: block;
    position: fixed;
}
.navbar-brand{
    padding-top: 3.5px;
    margin-right: 0;
}
.container-fluid{
    padding-right: 3px;
}
.navbar-decoration{
    margin: 0;
    padding: 0;
    height:2px;
    background-image: linear-gradient(90deg,#4bb887,#16b6d0,#d6e58a);
}
.nav-link{
    font-size:14px;
    font-weight: 700;
    color:black;
    align-items: center;

}

.nav-item {
    padding-left: 27px;
    margin-top:0;
}
.dropdown-toggle::after{
    display: none;
}
.new-icon {
    margin: 0;
    font-size: 9px;
    height: 14px;
    padding: 0 4px;
    background-color: #ff3d71;
    color:white;
}
.dropdown-arrow{
    margin-bottom: 5px;
    margin-top: 1px;
    margin-right:5px;
    width: 8.5px;
    height:8.5px;
    border: solid black;
    border-width: 0 2.9px 2.9px 0;
    border-radius: 1px;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown {
    cursor: pointer;
}
.change-display-container{
    font-size: 14px;
    font-weight: 500;
    margin:0;
    padding:0;
    width:25%;
    text-align: center;
}
.change-display-button {
    background-color:#374f60;
    color:white;
    padding: 4px 16px;
    border-radius: 15px;
}
.to-regular{
    color:#39475d;
    background-color: #d8d8d8;
}
.change-display-button:hover{
    cursor: pointer;
}
p{
    margin: 0;
}
.second-navbar{
    background-color:#374f60;
    height: 50px;
    width:100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Hebrew', serif;
}
.first-headline{
    border-left: 1px solid white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color:white;
    padding: 0 18px;
}
.first-headline:hover{
    cursor: pointer;
}
.second-headline{
    color:white;
    font-size: 0.9rem;
    padding: 0 15px;
    text-align: center;
}
.headlines{
    display: flex;
}
@media screen and (max-width:992px){
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55,79,96, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    button{
        position: absolute;
        right:0;
        top:15px;
    }
    .navbar-brand{
        margin-right:45px;
    }
    .change-display-container{
        position: absolute;
        left:10px;
        width:auto
    }
    .second-navbar{
        background-color: #fff;
        justify-content: right;
        text-align: right;
        height:55px;
        box-shadow: 
        0 2.8px 2.2px rgba(153, 153, 153, 0.034),
        0 6.7px 5.3px rgba(153, 153, 153, 0.034),
        0 10.5px 10px rgba(153, 153, 153, 0.034),
        0 10.3px 10.9px rgba(153, 153, 153, 0.034),
        0 21.8px 10.4px rgba(153, 153, 153, 0.034),
        0 10px 20px rgba(0, 0, 0, 0.12);
    }
    .first-headline, .second-headline{
        color: black;
        text-align: right;
    }
    .first-headline{
        font-size: 13px;
        padding:0;
    }
    .second-headline{
        font-size: 10px;
        padding:0;
    }
    .headlines {
        padding-right:12px;
        width:65%;
        margin:0;
    }
}