<div class="nav-container">
  <p class="navbar-decoration"></p>
  <nav class="navbar navbar-expand-lg " style="display: flex;">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="https://datadashboard.health.gov.il/COVID-19/assets/images/logo_DAshboard-01.png" alt="" width="241" height="48">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex;">
                דשבורד קורונה
                <span class="dropdown-arrow"></span>
              </a>
              
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex;">
                עולם הדאטה
                <p class="new-icon">חדש</p>
                <span class="dropdown-arrow"></span>
              </a>
              
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="change-display-container" *ngIf="!displayStatus">
        <span class="change-display-button" (click)="changeDisplay()">לתצוגה נגישה</span>
      </div>
      <div class="change-display-container" *ngIf="displayStatus">
        <span class="change-display-button to-regular" (click)="changeDisplay()">לתצוגה רגילה</span>
      </div>
  </nav>
  <div class="second-navbar" style="display: flex;">
    <div class="headlines">
      <p class="first-headline">נגיף הקורונה בישראל - תמונת מצב כללית
      </p>
      <p class="second-headline">
        עדכון אחרון: 19 במרץ 2021 | 07:24</p>
    </div>
  </div>
</div>
