.row {
    width: 97%;
    margin: 0 auto;
    margin-bottom: 31px;
}
.general-info{
    height:183px;
}
.col {
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
}
.dark-mode{
    background-color: #384f5f;
    box-shadow: rgba(26,31,51,0.18) 0 8px 4px 0;
    color:white;
}
.dark-mode .headline-container .info-icon {
    background-color: #fff;
    color: #6a7b87;
}
.last {
    margin-left:0;
}
p{
    margin:0;
}
hr{
    margin: 9px;
    background-color: #a2bdc4;
}
.headline-container{
    height:40px;
    width:97%;
    margin: 0 auto;
    display: flex;
}
.headline{
    padding-top:17px;
    font-size: 14px;
    font-weight: 600;
}
.info-icon{
    text-align: center;
    color:white;
    font-size: 11px;
    font-weight: 500;
    margin-top:19px;
    margin-right:6px;
    height: 16.5px;
    width: 16.5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.info{
    height:80%;
    margin: 0 auto;
    width:97%;
}
.number{
    padding-top: 3px;
    font-size: 22px;
    font-weight: 600;
}
.added{
    font-size: 12px;
    padding-top: 2px;
}
.value{
    font-weight: 600;
    direction: ltr;
    padding-left:3px;
}
.total{
    padding-top:7px;
}
.patients-locations{
    width:56%;
    font-size: 13px;
    margin-top:32px;
    justify-content: space-between;
}
.patients-condition{
    padding-top:35px;
}
.dot{
    margin-top: 5px;
    margin-left:5px;
    width:7.5px;
    height:7.5px;
    background-color: rgb(251, 83, 119);
    border-radius: 50%;
}
.second{
    background-color: rgb(230, 185, 87);
}
.conditions {
    font-size: 13px;
    padding-right:4px;
}
.condition {
    display: flex;
}
.condition-value{
    padding-right:3px;
    font-weight: 600;
}
.vaccinated{
    margin-right:3px;
}
.vac-number{
    font-size: 18px;
    font-weight: 600;
}
.vac-second {
    margin-top:-5px;
    height:30px;
}
.vac-second p {
    padding-top:1px;
    margin: 0;
}
.vac-second-values{
    margin-top:-4px;
}
.vac-second-values p{
    margin-top:-2px;
}
.daily-change{
    padding-top:35px;
    font-size:0.95rem;
}
.graph-icon{
    padding-left:5px;
    margin-top:-4px;
}
.sec{
    padding-top:55px;
}
.first, .second {
    display: none;
}
@media screen and (max-width:1400px){
    .general-info{
        height:400px;
    }
    .first{
        display:inline-block;
    }
    .col {
        justify-content: space-between;
        margin-left: 9px;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    .hospitalized-patients, .last {
        margin-left: 0;
    }
    .vaccinated {
        margin-right: 0;
    }
}
@media screen and (max-width:900px){
    .row{
        width:98.5%;
    }
    .general-info{
        height:600px;
    }
    .first{
        display: none;
    }
    .second {
        display: inline-block;
    }
    .col {
        justify-content: space-between;
        margin-left: 9px;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    .vaccinated, .active-patients, .last {
        margin-left: 0;
        
    }
}
