<div class="row general-info">
    <div class="col new-verified"
    [ngClass]="getDisplayStatus()">
        <div class="headline-container">
            <p class="headline">מאומתים חדשים אתמול</p>
            <span class="info-icon">i</span>
        </div>
        <div class="info">
            <p class="number">1,226</p>
            <div class="added" style="display: flex;">
                <p class="value">+645</p>
                <p class="title">מחצות</p>
            </div>
            <div class="added total" style="display: flex;">
                <p class="value">826,609</p>
                <p class="title">סה"כ</p>
            </div>
        </div>
    </div>
    <div class="col active-patients"
    [ngClass]="getDisplayStatus()">
        <div class="headline-container">
            <p class="headline">חולים פעילים</p>
            <span class="info-icon">i</span>
        </div>
        <div class="info">
            <p class="number">19,808</p>
            <div class="added" style="display: flex;">
                <p class="value">-1,612</p>
                <p class="title">מחצות</p>
            </div>
            <div class="patients-locations" style="display: flex;">
                <div class="home">
                    <p class="title">
                        בית / קהילה
                    </p>
                    <p class="value" style="direction: rtl;">18,794</p>
                </div>
                <div class="hotel">
                    <p class="title">
                        מלון
                    </p>
                    <p class="value">
                        160
                    </p>
                </div>
                <div class="hospital">
                    <p class="title">
                        בי"ח
                    </p>
                    <p class="value">
                        854
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 second"></div>
    <div class="col hospitalized-patients"
    [ngClass]="getDisplayStatus()">
        <div class="headline-container">
            <p class="headline">חולים קשה</p>
            <span class="info-icon">i</span>
        </div>
        <div class="info">
            <p class="number">557</p>
            <div class="added" style="display: flex;">
                <p class="value">-15</p>
                <p class="title">מחצות</p>
            </div>
            <div class="patients-condition">
                <div class="conditions">
                    <div class="condition">
                        <div class="dot"></div>
                        <div class="condition-title">מתוכם קריטי</div>
                        <div class="condition-value">246</div>
                    </div>
                    <div class="condition">
                        <div class="dot second"></div>
                        <div class="condition-title">מונשמים</div>
                        <div class="condition-value">202</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 first"></div>
    <div class="col vaccinated"
    [ngClass]="getDisplayStatus()">
        <div class="headline-container">
            <p class="headline">מתחסנים מנה ראשונה </p>
            <span class="info-icon">i</span>
        </div>
        <div class="vaccinated">
            <p class="vac-number">5,162,636</p>
            <div class="added" style="display: flex;">
                <p class="value">+0</p>
                <p class="title">מחצות</p>
            </div>
        </div>
        <hr>
        <div class="headline-container vac-second">
            <p class="headline ">מתחסנים מנה שנייה</p>
        </div>
        <div class="vaccinated vac-second-values">
            <p class="vac-number">4,523,828</p>
            <div class="added" style="display: flex; padding-right:2px;">
                <p class="value">+0</p>
                <p class="title">מחצות</p>
            </div>
        </div>
    </div>
    <div class="w-100 second"></div>
    <div class="col deaths" [ngClass]="getDisplayStatus()">
        <div class="headline-container">
            <p class="headline">נפטרים מצטבר</p>
            <span class="info-icon">i</span>
        </div>
        <div class="info">
            <p class="number">6,073</p>
            <div class="daily-change sec" style="display: flex;">
                <img src="../../assets/icons/graphes-icon.png"  class="graph-icon" alt="graph-icon" style="height:32px; width:38px;">
                <p class="title">מגמת שינוי יומית</p>
            </div>
        </div>
    </div>
    <div class="col positive-percentage last" [ngClass]="getDisplayStatus()">
        <div class="headline-container">
            <p class="headline">אחוז בדיקות חיוביות אתמול</p>
            <span class="info-icon">i</span>
        </div>
        <div class="info">
            <p class="number">1.9%</p>
            <div class="added" style="display: flex;">
                <p class="value">65,323</p>
                <p class="title">בדיקות אתמול</p>
            </div>
            <div class="daily-change" style="display: flex;">
                <img src="../../assets/icons/graphes-icon.png"  class="graph-icon" alt="graph-icon" style="height:32px; width:38px;">
                <p class="title">בדיקות יומיות</p>
            </div>
        </div>
    </div>
</div>