<div class="row">
  <div class="row headline">מדדי התחסנות</div>
  <div class="row total-data">
    <div class="col data left">
      <div class="title-container" style="display: flex">
        <div class="title">
          <p>מספר מתחסנים - יומי</p>
        </div>
        <div class="options" style="display: flex">
          <div class="time" style="display: flex">
            <div class="time-container" style="display: flex">
              <p>חודש אחרון</p>
              <div class="arrow">
                <img
                  src="/assets/icons/expand-button.png"
                  alt=""
                  style="height: 7px; width: 7px"
                />
              </div>
            </div>
          </div>
          <div class="share">
            <img
              src="/assets/icons/share-icon.png"
              alt=""
              style="height: 16px; width: 20px"
            />
          </div>
          <div class="download">
            <img
              src="/assets/icons/down-arrow-full.png"
              alt=""
              style="height: 13px; width: 18px"
            />
          </div>
        </div>
      </div>
      <div class="index" style="display: flex">
        <div class="vaccine first">
          <div class="dot"></div>
          <p>מתחסנים מנה ראשונה</p>
        </div>
        <div class="vaccine second">
          <div class="dot sec"></div>
          <p>מתחסנים מנה שנייה</p>
        </div>
      </div>
      <div class="graph-container">
        <img src="/assets/icons/right-graph.png" alt="right-graph" class="left-graph">
    </div>
    </div>
    <div class="col data">
      <div class="title-container" style="display: flex">
        <div class="title">
          <p>מספר מתחסנים - מצטבר</p>
        </div>
        <div class="options" style="display: flex">
          <div class="time" style="display: flex">
            <div class="time-container" style="display: flex">
              <p>חודש אחרון</p>
              <div class="arrow">
                <img
                  src="/assets/icons/expand-button.png"
                  alt=""
                  style="height: 7px; width: 7px"
                />
              </div>
            </div>
          </div>
          <div class="share">
            <img
              src="/assets/icons/share-icon.png"
              alt=""
              style="height: 16px; width: 20px"
            />
          </div>
          <div class="download">
            <img
              src="/assets/icons/down-arrow-full.png"
              alt=""
              style="height: 13px; width: 18px"
            />
          </div>
        </div>
      </div>
      <div class="index" style="display: flex">
        <div class="vaccine first">
          <div class="dot"></div>
          <p>מתחסנים מנה ראשונה</p>
        </div>
        <div class="vaccine second">
          <div class="dot sec"></div>
          <p>מתחסנים מנה שנייה</p>
        </div>
      </div>
      <div class="graph-container">
        <img src="/assets/icons/mid-graph.png" alt="mid-graph" class="left-graph">
    </div>
    </div>
    <div class="col data right">
      <div class="title-container" style="display: flex">
        <div class="title">
          <p>אחוז מתחסנים מכלל האוכלוסיה</p>
        </div>
        <div class="options" style="display: flex">
          <div class="time" style="display: flex">
            <div class="time-container" style="display: flex">
              <p>חודש אחרון</p>
              <div class="arrow">
                <img
                  src="/assets/icons/expand-button.png"
                  alt=""
                  style="height: 7px; width: 7px"
                />
              </div>
            </div>
          </div>
          <div class="share">
            <img
              src="/assets/icons/share-icon.png"
              alt=""
              style="height: 16px; width: 20px"
            />
          </div>
          <div class="download">
            <img
              src="/assets/icons/down-arrow-full.png"
              alt=""
              style="height: 13px; width: 18px"
            />
          </div>
        </div>
      </div>
      <div class="index" style="display: flex">
        <div class="vaccine first">
          <div class="dot"></div>
          <p>% מתחסנים מנה ראשונה</p>
        </div>
        <div class="vaccine second">
          <div class="dot sec"></div>
          <p>% מתחסנים מנה שנייה</p>
        </div>
      </div>
      <div class="graph-container">
        <img
          src="/assets/icons/left-graph.png"
          alt="left-graph"
          class="left-graph"
        />
      </div>
    </div>
  </div>
</div>
